Repository voxpupuli/puppet-strongswan, pull requests merged in 2020-03, with the labels that each got.

#34 strongswan::secrets support selectors
  manifests/secrets.pp
  spec/defines/secrets_spec.rb
  templates/ipsec_secrets_secret.erb
Labels: enhancement

#35 support for charon plugins configuration
  manifests/charon/plugin.pp
  spec/defines/charon_plugin_spec.rb
  templates/charon_plugin.conf.epp
Labels: enhancement

#38 Fix PKI for Debian systems and enable acceptance tests
  .sync.yml
  .travis.yml
  manifests/pki/ca.pp
  manifests/pki/certificate.pp
  spec/acceptance/001_base_spec.rb
  spec/acceptance/002_pki_spec.rb
  spec/acceptance/003_config_spec.rb
  spec/spec_helper_acceptance.rb
Labels: skip-changelog

#36 Refactor and document with puppet-strings
  REFERENCE.md
  manifests/charon.pp
  manifests/charon/plugin.pp
  manifests/config.pp
  manifests/conn.pp
  manifests/init.pp
  manifests/package.pp
  manifests/params.pp
  manifests/pki/ca.pp
  manifests/pki/certificate.pp
  manifests/secrets.pp
  manifests/service.pp
  manifests/setup.pp
  spec/classes/strongswan_pki_ca_spec.rb
  spec/classes/strongswan_setup_spec.rb
  spec/defines/certificate_spec.rb
  spec/defines/charon_plugin_spec.rb
  spec/defines/conn_spec.rb
  spec/defines/secrets_spec.rb
Labels: docs

#29 drop Ubuntu 14.04 support
  metadata.json
Labels: backwards-incompatible

#40 Modulesync 2.11.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#41 Release 1.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
